
* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(1, 97, 153);
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form input, form label, form button {
  display: block;
  width: 100%;
}

form label.altura{
  font-size: xx-small;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: rgb(1, 97, 153);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: rgb(1, 78, 122);
}

.paragrafo-resultado, .bad {
  background: rgb(109, 255, 182);
  padding: 10px 20px;
}

.bad {
  background: rgb(255, 150, 150);
}
span{
  color: rgb(255, 0, 0);
  font-size: 12pt;
  font-style: italic;
  margin-bottom: 20px;
}
#resultado, #resultado2{
  margin-top: 20px;
}